<div class="w-full h-full flex-1">
  @if(workoutState(); as state) { @if(asActivestate(state)) {
  <app-sport-timer-dumb
    [state]="state"
    (start)="startExercise()"
    (pause)="pauseExercise()"
    (resume)="resumeExercise()"
  ></app-sport-timer-dumb>
  } @else if (asPrepareState(state)) {
  <app-sport-prepare [state]="state"></app-sport-prepare>

  } @else if (asRecoveryState(state)){
  <app-sport-break [state]="state"></app-sport-break>
  } @else if (asFinishedState(state)) {
  <app-sport-complete [state]="state"></app-sport-complete>
  } @else if (asActiveClickState(state)) {
  <app-sport-clicker [state]="state" (finish)="finishExercise()" />

  } }
</div>
